body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
header {
  background-color: #fff;
}
footer {
  background-color: #2f303a;
}
.logo {
  text-decoration: none;
  font-family: "Raleway";
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.black {
  color: #000;
}
.white {
  color: #fff;
}
.nav-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}
.nav-link:focus {
  text-decoration: none;
  color: #2196f3;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-link:hover {
  text-decoration: none;
  color: #2196f3;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contact-link {
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contact-link:hover {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contact-link:focus {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
address {
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
}
.order-box {
  background-color: #2f303a;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.order-button {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #fff;
  width: 200px;
  height: 50px;
  cursor: pointer;
}
.lorem-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.lorem-describe {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
section.bottom {
  background-color: #f5f4fa;
}
.teammate-box {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.job-title {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.portfolio-button {
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}
.portfolio-button:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-button:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.project-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.project-type {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}
